.historicProductsPage{
    position: relative;
    padding: 3em;
}

.historicProductsPage h1{
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.productHistoric{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.productHistoric img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.productHistoric p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.productHistoric span{
    font-size: 25px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.total{
    font-size: 35px;
    font-style: italic;
    color: #222;
    opacity: 0.7;
    margin-top: 1em;
}

.historicProductsPage a{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.historicProductsPage a > svg{
    margin-right: 0.5em;
}