.historicProductsPage{
    position: relative;
    padding: 3em;
}

.historicProductsPage h1{
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.productHistoric{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.productHistoric img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.productHistoric p{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.productHistoric span{
    font-size: 25px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.total{
    font-size: 35px;
    font-style: italic;
    color: #222;
    opacity: 0.7;
    margin-top: 1em;
}

.historicProductsPage a{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.historicProductsPage a > svg{
    margin-right: 0.5em;
}

@media(max-width:1100px){
    .historicProductsPage a{
        display: none;
    }
}

@media(max-width:900px){
    .historicProductsPage h1{
        font-size: 30px;
        margin-top: 1em;
    }

    .total{
        font-size: 30px;
    }
}

@media(max-width:700px){
    .productHistoric p,.productHistoric span{
        font-size: 20px;
    }

    .productHistoric img{
        width: 150px;
        height: 150px;
    }

    .historicProductsPage h1,.total{
        font-size: 25px;
    }
}

@media(max-width:503px){
    .productHistoric p,.productHistoric span{
        font-size: 16px;
    }

    .productHistoric img{
        width: 100px;
        height: 100px;
    }

    .historicProductsPage h1,.total{
        font-size: 20px;
    }
}

@media(max-width:402px){
    .productHistoric{
        flex-direction: column;
    }

    .productHistoric p{
        margin: 1em 0;
    }

    .productHistoric p,.productHistoric span{
        font-size: 18px;
    }
}