.productLoader{
    position: relative;
    width: 400px;
    height: 700px;
    margin-bottom: 3em;
    border: 3px solid #e6e6e6;
    border-radius: 30px;
    margin-left: 3em;
    animation: blink 2s infinite linear;
}

.image,.lineOne,.lineTwo,.button{
    background-color: rgb(180, 180, 180);
}

.image{
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 2em;
}

.lineOne{
    width: 80%;
    height: 30px;
    margin: 0 auto;
}

.lineTwo{
    width: 40%;
    height: 30px;
    margin-left:2.5em ;
    margin-top: 1em;
}

.button{
    bottom: 40px;
    width: 50%;
    height: 100%;
}

.divButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    bottom: 40px;
}

@keyframes blink{
    25%{
        opacity: 0.7;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}

@media (max-width:546px){
    .productLoader{
        width: 300px;
        margin-left: 0em;
    }

    .button{
        width: 90px;
        height: 40px;
    }

}

@media (max-width:430px){
    .productLoader{
        width: 250px;
        height: 500px;
    }

    .image{
        height: 200px;
    }

    .lineOne,.lineTwo{
        height: 20px;
    }

    .button{
        height: 30px;
    }

}

@media(max-width:325px){
    .productLoader{
        width: 200px;
        height: 400px;
    }

    .image{
        height: 150px;
    }

    .lineOne,.lineTwo{
        height: 18px;
    }

    .button{
        height: 25px;
    }
}