.historicProductLoader{
    margin-bottom: 2em;
    background-color: aliceblue;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 170px;
    animation: blink 2s infinite linear;
    margin: 0 1em;
}

.title{
    height: 30px;
    width: 70%;
    background-color: rgb(180, 180, 180);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
    border-radius: 30px;
    animation: blink 2s infinite linear;
}

.imgLoader{
    height: 150px;
    width: 200px;
    background-color: rgb(180, 180, 180);
}

.nameLoader{
    width: 250px;
    height: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
}


@keyframes blink{
    25%{
        opacity: 0.7;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}

@media(max-width:1172px){

    .historicProductLoader{
        padding: 0,5em;
    }

    .title{
        height: 25px;
        width: 50%;
    }
    
    .imgLoader{
        height: 100px;
        width: 150px;
    }
    
    .nameLoader{
        width: 200px;
        height: 20px;
    }
    
}

@media(max-width:700px){
    .nameLoader{
        width: 150px;
    }

    .imgLoader{
        height: 100px;
        width: 150px;
    }
}

@media(max-width:568px){
    .nameLoader{
        width: 90px;
    }

    .imgLoader{
        width: 110px;
    }
}

@media(max-width:402px){
    .historicProductLoader{
        flex-direction: column;
        height: 250px;
    }

    .nameLoader{
        width: 120px;
        margin: 1em 0;
    }
}