.cart{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: aliceblue;
    box-shadow: 7px 10px 10px 10px #222;
    z-index: 7;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 2em;
    transition: 0.5s;
}

.cart h1{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Lora', serif;
    font-size: 35px;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buy button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: none;
    height: 45px;
    background-color: rgb(31, 31, 250);
    color: #fff;
    transition: .5s;
    border-radius:30px ;
    margin-top: 2em;
    margin-right: 1em;
}

.buy button:hover{
    background-color: rgb(0, 0, 248);
}

.iconCart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em 1em;
    z-index: 31;
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 0.2em;
}

.close{
    color: gray;
}

.close > div > div{
    color: #fff;
}

.disappear{
    transform: translateX(100%);
}

.total{
    font-size: 25px;
    font-style: italic;
    color: #222;
    opacity: 0.7;
    margin-top: 1em;
}

.counter{
    position: absolute;
    top: 0px;
    right: -4px;
    width: 15px;
    height: 15px;
    background-color: red;
    z-index: 6;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
}

.divIcon{
    position: relative;
}

@media(max-width:1517px){
    .cart{
        width: 50%;
    }
}

@media(max-width:1127px){
    .iconCart{
        top: -14px;
        right: -25px;
    }
}

@media(max-width:913px){
    .cart{
        width: 70%;
    }
}

@media(max-width:641px){
    .cart{
        width: 90%;
    }
}

@media(max-width:501px){
    .cart h1{
        font-size: 25px;
    }
    
    .buy button{
        width: 120px;
        height: 35px;
    }
    
    
    .iconCart{
        margin: 0.7em 1.2em;
        font-size: 35px;
        padding: 0.2em;
    }
    
    
    .total{
        font-size: 20px;
    }
        
}

