.logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5em 0;
    font-size: 25px;
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 0.5em;
    padding-left: 2em;
    transition: .5s;
}

.logout svg{
    margin-right: 0.2em;
    font-size: 35px;
}

.logout:hover{
    background-color: rgb(255, 255, 255,0.2)
}

@media (max-width:670px){
    .logout{
        font-size: 20px;
    }

    .logout svg{
        margin-right: 0.2em;
    }
}