.historicLoader{
    margin-bottom: 2em;
    background-color: aliceblue;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 170px;
    animation: blink 2s infinite linear;
}

.imgLoader{
    height: 150px;
    width: 200px;
    background-color: rgb(180, 180, 180);
}

.nameLoader{
    width: 450px;
    height: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
}

.buttonLoader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 1em;
    border-radius: 10px;
    font-size: 25px;
}

@keyframes blink{
    25%{
        opacity: 0.7;
    }

    50%{
        opacity: 0.5;
    }

    75%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}