.historic{
    margin-bottom: 2em;
    background-color: aliceblue;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.historic p{
    font-size: 20px;
    font-weight: bold;
}

.historic button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    transition: 0.5s;
    margin-right: 1em;
}

.historic button:hover{
    color: red;
}

.imageAlone{
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor:default;
}

.twoImages{
    height: 150px;
    width: 200px;
    height: 150px;
    cursor:default;
}

.twoImages img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.fourImages{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
    cursor:default;
}

.fourImages img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.loader{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 4px solid #000;
    border-top-color:transparent;
    animation: rotate 1s ease infinite;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

@media(max-width:900px){
    .loader{
        height: 30px;
        width: 30px;
        border: 2px solid #000;
        border-top-color:transparent;
    }
}

@media(max-width:672px){
    .historic p{
        font-size: 16px;
    }

    .imageAlone,.twoImages,.fourImages{
        width: 150px;
        height: 130px;
    }

    .historic button{
        font-size: 20px;
    }
    
}

@media (max-width:544px){
    .imageAlone,.twoImages,.fourImages{
        width: 130px;
        height: 100px;
    }

    .loader{
        height: 20px;
        width: 20px;
        
    }
}

@media(max-width:513px){
    .historic{
        flex-direction: column;
        padding: 2em;
    }

    .historic p{
        margin: 2em 0;
    }

    .imageAlone,.twoImages,.fourImages{
        width: 150px;
        height: 130px;
    }

    .loader{
        height: 30px;
        width: 30px;
        
    }
}

@media(max-width:374px){
    .historic p{
        font-size: 14px;
    }
}