.product{
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px
}

.product img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.product button{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}

.product button:hover{
    color: red;
}

.product p{
    font-size: 20px;
    font-weight: bold;
}

.product span{
    font-size: 20px;
    font-style: italic;
}

.gif{
    width: 300px;
    margin-top: -3em;
}

.divGif{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divGif p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lora', serif;
}

@media(max-width:800px){
    .gif{
        width: 200px;
        margin-top: -2em;
    }

    .divGif p{
        font-size: 18px;
    }
}

@media(max-width:501px){
    .product{
        height: 70px
    }
    
    .product img{
        width: 70px;
        height: 70px;
    }

    .product button{
        font-size: 16px;
    }

    .product p{
        font-size: 18px;
    }

    .product span{
        font-size: 18px;
    }

    .gif{
        width: 130px;
        margin-top: -1em;
    }

    .divGif p{
        font-size: 16px;
    }
}

@media(max-width:441px){
    .product{
        flex-direction: column;
        margin-bottom: 3em;
        height: 170px;
        width: 120px;
    }

    .product img{
        margin-bottom: 1em;
    }

    .product p{
        margin-bottom: 0.5em;
    }

    .product img{
        width: 120px;
        height: 120px;
    }


}

